.options-editor {
    position: relative;
    height: 100%;
    .options-editor-body {
        height: calc(100% - 44px);
    }
    .ace_editor {
        margin-right: 0;
    }
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: white;
        padding: 8px 16px;
        box-sizing: border-box;
        .btn {
            font-size: 14px;
            line-height: 18px;
            padding: 0 28px;
            color: rgba(0, 0, 0, 0.7);
            &.btn-primary {
                color: #fff;
            }
        }
    }
}
