/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > * {
  margin: 0 0.5rem;
}

.screenshot {
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
