$color-default : rgba(0, 0, 0, 0.4);
$color-active : #0084FF;

.import-page {
    text-align: center;
    display: flex;
    justify-content: center;
    // margin-top: 44px;
    .file-uploader {
        width: 50%;
        height: 180px;
        border: 1px dashed $color-default;
        border-radius: 12px;
        margin-top: 157px;
        .file-uploader__tips {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: -webkit-center;
            margin-top: 38px;
            color: $color-default;
            cursor: pointer;
            .icon-plus {
                display: block;
                margin-bottom: 12px;
                cursor: pointer;
            }
        }
        .file-uploader__btns {
            margin-top: 16px;
            .icon-sm {
                margin-right: 5px;
                display: inline-block;
            }
        }
        &.active, &:hover {
            border-color: $color-active;
            background: linear-gradient(0deg, rgba(0, 132, 255, 0.08), rgba(0, 132, 255, 0.08));
            cursor: pointer;
            .file-uploader__tips {
                color: $color-active;
                .icon-plus {
                    background: url(../assets/icon-plus-primary.png) center center no-repeat;
                    background-size: contain;
                }
            }
        }
        &.active, &.error {
            .file-uploader__btns {
                opacity: .5;
            }
        }
    }
}

.file-uploader-dir {
    .search-bar {
        .search-input {
            background: rgba(5, 15, 35, 0.04);
            border-radius: 4px;
            height: 32px;
            margin: 0 16px;
            padding: 0 12px;
            position: relative;
            input {
                background: transparent;
                border: none;
                width: 100%;
                height: 100%;
                color:  rgba(0, 0, 0, 0.3);
                caret-color: rgba(0, 0, 0, 0.3);
                font-size: 14px;
                cursor: text;
                &::-webkit-input-placeholder{
                    color: rgba(0, 0, 0, 0.3);
                    font-size: 14px;
                    line-height: 32px;
                }
            }
            i {
                position: absolute;
                right: 16px;
                top: 10px;
            }
        }
        .btn-containers {
            display: flex;
            margin: 12px 16px 0 16px;
            padding-bottom: 16px;
            border-bottom: solid 0.5px rgba(5, 15, 35, 0.08);
            & > div {
                flex: 1;
                text-align: center;
            }
            .text-btn {
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                color: #0084FF;
                position: relative;
                padding-left: 17px;
                i {
                    position: absolute;
                    left: 0;
                    top: 2px;
                    cursor: pointer;
                }
            }
        }
    }
    .history {
        padding: 16px 0;
        .text-btn.clear-history {
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.3);
            position: relative;
            padding-right: 12px;
            margin-left: 16px;
            i {
                width: 10px;
                height: 10px;
                position: absolute;
                right: 0;
                top: 2px;
            }
        }
        .history-list {
            margin-top: 6px;
        }
        .history-item {
            display: flex;
            align-items: center;
            padding: 20px 16px;
            cursor: pointer;
            .picon {
                width: 36px;
                height: 36px;
                margin-right: 8px;
            }
            .pinfo {
                flex: 1;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.3);
                h4 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000;
                    margin-bottom: 2px;
                    cursor: pointer;
                    .keyword-match {
                        display: inline;
                        color: $color-active;
                    }
                }
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    cursor: pointer;
                }
            }
            .icon-delete {
                opacity: 0;
                margin-left: 2px;
                cursor: pointer;
            }
            &:hover {
                background: rgba(5, 15, 35, 0.03);
                .icon-delete {
                    opacity: 1;
                }
            }
            &.active {
                background: rgba(0, 132, 255, 0.05);
            }
            &:not(:last-child) {
                border-bottom: solid 0.5px rgba(5, 15, 35, 0.08);
            }
        }
    }
}