
/*
• 主色调：#002834 （Primary）
• 强调色：#0085ad （Secondary）
• 暗色背景：#1c1c1c （Dark background）
• 浅色背景：#f2f2f2 （Light background）
• 亮色字体：#ffffff （Light text）
• 暗色字体：#333333 （Dark text）
*/
:root {
  --primary-color: #002834;
  --secondary-color: #0085ad;
  --dark-background: #1c1c1c;
  --light-background: #f2f2f2;
  --light-text: #ffffff;
  --dark-text: #333333;
}

/* 使用示例 */
.heading {
  color: var(--primary-color);
  background-color: var(--light-background);
}

.button {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.text {
  color: var(--dark-text);
}

.background {
  background-color: var(--dark-background);
}

.main-background {
	background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}