html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'PingFang SC';
  font-style: normal;
}

* {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;

  min-width: 0;
  margin: 0;
  padding: 0;
}

/* common */
.link {
  /* color: #007bff; */
  cursor: pointer;
}

.link:hover {
  /* text-decoration: underline; */
}

input {
  outline: none;
}

/* icon */ 
.icon-sm {
  width: 12px;
  height: 12px;
}
.icon-md {
  width: 20px;
  height: 20px;
}
.icon-config {
  background: url(./assets/icon-config.png) center center no-repeat;
  background-size: contain;
}
.icon-coffee {
  background: url(./assets/icon-coffee.png) center center no-repeat;
  background-size: contain;
}
.icon-plus {
  background: url(./assets/icon-plus.png) center center no-repeat;
  background-size: contain;
}
.icon-plus-black {
  background: url(./assets/icon-plus-black.png) center center no-repeat;
  background-size: contain;
}
.icon-folder {
  background: url(./assets/icon-folder.png) center center no-repeat;
  background-size: contain;
}
.icon-refresh {
  background: url(./assets/icon-refresh.png) center center no-repeat;
  background-size: contain;
}
.icon-search {
  background: url(./assets/icon-search.png) center center no-repeat;
  background-size: contain;
}
.icon-delete {
  background: url(./assets/icon-delete.png) center center no-repeat;
  background-size: contain;
}
.icon-plus-primary {
  background: url(./assets/icon-plus-primary.png) center center no-repeat;
  background-size: contain; 
}
.icon-folder-primary {
  background: url(./assets/icon-folder-primary.png) center center no-repeat;
  background-size: contain; 
}
.icon-close {
  background: url(./assets/icon-close.png) center center no-repeat;
  background-size: contain; 
}

/* button */
.btn {
  padding: 0px 40px;
  height: 24px;
  line-height: 24px;

  background: rgba(5, 15, 35, 0.04);
  color: #000;
  border-radius: 4px;
  border: none;

  font-size: 14px;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .8;
  }
}
.btn-md {
  padding: 0 20px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
}
.btn-bg {
  padding: 0 24px;
  height: 34px;
}
.btn-primary {
  background: #0084FF;
  color: #fff;
}
.btn-info {
  background: rgba(5, 15, 35, 0.04);
  color: rgba(0, 0, 0, 0.5);
}
.btn, .text-btn {
  cursor: pointer;
}

/* Window */
#root {
  display: flex;
}

.window {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

.window-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.window-body {
  flex: 1 1 auto;
  /* overflow-y: auto; */
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-menu {
  flex: 0 0 auto;
}

.tabs-panel {
  flex: 1 1 auto;
}

.img {
  pointer-events: none;
}
