
.doc-tab-container {
	display: flex;
	height: 450px;
}

.doc-tree {
	flex: 0 0 auto;
	overflow-y: auto;
	width: 240px;
}

.doc-content {
	flex: 1 1 auto;
	margin-left: 16px;
	overflow-y: auto;
}

.doc-tree-item {
	cursor: pointer;
}


.doc-tree-item:hover {
	text-decoration: underline;
}

.doc-content img {
	width: 300px;
	height: auto;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
